/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #000;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-image: url(moss_background.jpg);
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.starter-template {
  padding: 10rem;
  text-align: center;
  color: #fff;
}
